/*
blockquote{
    border-left:3px solid teal;
    border-right:3px solid teal;
    padding:10px;
    background-color: aliceblue;
    cite{
        display: block;
        padding:4px;
        border-radius:5px;
        border:1px solid gray;
        font-style: normal;
        font-size: .9em;
        background-color: #eeeeee;
    }
}
*/

// Mixin para aplicar una armonía
@mixin bqarmonia($armonia) {
    $color-fondo: map-get($armonia, 'color-2');
    $color-texto: map-get($armonia, 'color-7');
    $color-enlace: map-get($armonia, 'color-9');
    $color-enlace-cite: map-get($armonia, 'color-1');
  
    background-color: $color-fondo;
    color: $color-texto;
    padding:10px;

    blockquote{
        border-left:3px solid $color-texto;
        border-right:3px solid $color-texto;
        padding:10px;
        background-color: $color-fondo;
        color:red;
    }

    cite{
        display: block;
        border: 1px solid  $color-enlace;
        background-color: $color-texto;
        color: $color-fondo;
        padding: 5px;
        font-style: normal;
        ::before{
            content: "pipipi ";
        }
        ::after{
            content: "pipipi ";
        }
    }
  
    a {
      color: $color-enlace;
      &:hover {
        color: darken($color-enlace, 15%);
      }
    }
  }
  
  // Aplicación de la armonía monocromática al blockquote
  blockquote {
    @include bqarmonia($monocromatico-azul);
  }
  