@use '../utils/colors';

h1 {
  font-size: 2.5rem; // Tamaño grande para resaltar
  color: $color-amarillo-claro; // Texto en el color más claro para fácil lectura
  background-image: linear-gradient(135deg, $color-logo-oscuro, $color-logo-claro); // Degradado monocromático
  padding: 20px; // Espaciado interno para darle aire
  border-radius: 10px; // Bordes redondeados para un look moderno
  text-align: center; // Centrado del texto
  margin: 20px 0; // Margen para separar del contenido adyacente
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); // Sombra suave para dar profundidad
  font-weight: bold; // Negrita para destacar aún más
}

h2{
    color: map-get($monocromatico-verde, 'color-10');
    border-bottom: 1px solid map-get($monocromatico-verde, 'color-5');
}

h3{
    color:purple;
}

h4{
    color: $color-logo-oscuro;
}

h5{
    color: royalblue;
}

h6{
    color: palevioletred;
}