/* Estilos personalizados solo para el menú principal */
.menu-principal .navbar-nav .nav-link {
    color: #8B4513; /* Color café para el texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Aplica estilos de hover y focus solo a los enlaces que no son activos */
.menu-principal .navbar-nav .nav-link:not(.active):hover, 
.menu-principal .navbar-nav .nav-link:not(.active):focus {
    background-color: #8B4513; /* Fondo café */
    color: #FFD700; /* Letra amarilla */
    border-radius: 10px;
}

.menu-principal .navbar-nav .nav-link.active {
    background-color: #FFD700; /* Fondo amarillo */
    color: #8B4513; /* Letra café */
    font-weight: bolder;
    border-radius: 10px; /* Asegura consistencia en el estilo del borde */
}
